.venv
*.snap
*.xlog
test.old

CMakeFiles/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*~
.*.swp
.gdb_history
VERSION
Testing
CTestTestfile.cmake
.rocks
build
packpack
